
header{
    font-family: 'Inter';
    background-color: #7EEC74;
    text-align: left;
    height: 130px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
body {
    font-family: 'Inter';
    padding: 0;
    margin: 0;
}

.bouton-lien {
    background-color: #8D4925;
    color: #FFFF;
    font-family: 'Inter';
    font-style: medium;
    font-size: 16px;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom:15px;
    padding-left:28px;
    padding-right:28px;
    margin-left: 27px;
    text-decoration: none;

}


